@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Share+Tech&family=Tagesschrift&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
}


/* variables  */


$roboto-font :"Roboto Slab",
serif;
$Tagess-font : "Tagesschrift",
system-ui;
$White-Color : #ffffff;
$Black-Color : #000000;
$primary-colors : #4f46e5;
$secondary-colors : #f9fafb;
$dark-text : #1e293b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}